{% load static %}
{% load order %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config</title>
    <link rel="stylesheet" href="{% static 'css/user_config.css' %}">
</head>
<body>
       <div class="sidenav">
  <a href="#contact">Orders</a>
  <button class="dropdown-btn">Account Settings
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Change password</a>
    <a href="#">Change email</a>
  </div>
           {% if user.is_authenticated %}
               {% if user.role == 3 %}
                <a href="requests">Order requests</a>
           {% endif %}
           {% endif %}
       </div>
<div class = "orders-table">
    <table>
    <thead>
     <tr>
      <th style="text-align: center;">Comandat</th>
      <th style="text-align: center;">DETALIILE COMENZII</th>
    </tr>
    </thead>
     <tbody>
        {% for order in orders %}
        <tr>
            <td>{% product_name_by_id order.product_id %}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</body>
<script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
  });
}
</script>
</html>