 body {
  margin: 0;
      padding: 0;
      width: 100%;
      height: 200vh;
     font-family: Courier Mono, monospace;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

.header {
  position: fixed;
  z-index: 1000;
  height: 100px;
 top: 0; left: 0; right: 0;
  background: rgba(34,34,34,0.25);
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.active {
  background-color: rgba(34,34,34,0.8);
}
ul {
  display: flex; /* Change from table to flex layout */
  justify-content: center; /* Distribute list items evenly */
  margin: 0 auto; /* Center the ul element within the header */
  padding: 0;
  list-style: none;
  width: 100%; /* Stretch to full width of the header */
  text-align: center; /* Center text alignment within list items */
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

 .logged-in-user{
   position : absolute;
     top: 0;
   right: 0;
   margin: 20px;
    display: flex;
   font-family:Courier Mono, monospace;
   color:#fff;
 }

 .name{
 position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: transparent;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-family: 'Courier Mono', monospace;
  font-size: 30px;
 }

/* burger button*/
nav {
  width: 300px;
  margin:20px;
  background: transparent;
  color: white;
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}
.navigation .one {
  background:white;
    width: 30px;
}
.navigation .two {
  background:white;
    width: 20px;
}
.navigation .three {
    background:white;
    width: 25px;
}

.navigation:hover .one {
  width:30px;
}
.navigation:hover .two {
  width:30px;
}
.navigation:hover .three {
  width:30px;
}
nav:hover {

  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: #8CEABBFF; }

a:active { background: #8CEABBFF; }

.navigation {
  padding: 23px 20px;
  top:0;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navigation div {
  height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.navigation div:before,
.navigation div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
}

.navigation div:before { top: -7px; }

.navigation div:after { top: 7px; }

/* search box*/
.search {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 20px;
  right: 300px;
  bottom: 0;
  overflow: hidden;
     padding: 1em;
}
.search svg {
  width: 250px;
  transform: translate3d(-125px, 0, 0);
  transition: 0.5s;
  pointer-events: none;
}
.search input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 10px 55px 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.search input::-moz-selection {
  background: rgba(0, 0, 0, 0.3);
}
.search input::selection {
  background: rgba(0, 0, 0, 0.3);
}
.search input:valid, .search input:focus {
  cursor: auto;
}
.search input:valid + svg, .search input:focus + svg {
  transform: translate3d(0, 0, 0);
}
.search input:focus {
  cursor: auto;
  outline: none;
}
.search input:focus + svg .path {
  stroke-dasharray: 961, 363;
  stroke-dashoffset: -363;
}
.search .path {
  stroke-dasharray: 363, 961;
  stroke-dashoffset: 0;
  stroke: #fff;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: 0.5s;
}
