{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product Card</title>
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/magic.css' %}">

</head>
<body>
<div class = 'container'>
    {% block content %}
    {% for product in products %}
  <div class="product-card", id = 'product-card' data-product-id = {{ product.id }}>
    <img src="../static/images/{{ product.get_first_color }}_{{ product.images }}" alt="Product Image">
    <div class="product-info">
      <h2>{{product.name}}</h2>
        <p class = "product-price">Price: {{ product.price }} RON</p>
    </div>
  </div>

    {% endfor %}
    {% endblock %}
</div>

<script>
 document.addEventListener("DOMContentLoaded", function () {
    var productCards = document.querySelectorAll(".product-card");
    productCards.forEach(function (card) {
      card.addEventListener("click", function () {
        callingFunction(card);
      });

    });
  });

  async function callingFunction(card) {
    const id = card.dataset.productId;
    const url = `/product/${id}`
    redirectToProductPage(url);
  }

  function redirectToProductPage(url) {
    window.location.href = url;
  }

</script>
</body>
</html>
