{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe Shop</title>

</head>
<body>

    <header class = "header">
        <span class = "name">Shoe Shop</span>

    <div class="search">
 <form method="get" action="{% url 'search' %}">
    <input id = "search-input" type="text" name="q" value="{{ request.GET.q }}">
    <input id = "search-button" type="submit">
</form>

</div>
{#    change to curtain side bar which includes filter #}
    <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
     <button class="dropdown-btn">Size
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-checkbox-container">
    <label class="filter-container">
        <input type="checkbox" name="size" value="36">36
        <span class="checkmark"></span>
    </label>
    <label class="filter-container">
        <input type="checkbox" name="size" value="36.5">36.5
        <span class="checkmark"></span>
    </label>
</div>

<button class="dropdown-btn">Brand
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-checkbox-container">
    <label class="filter-container">
        <input type="checkbox" name="brand" value="brand1">Brand 1
        <span class="checkmark"></span>
    </label>
    <label class="filter-container">
        <input type="checkbox" name="brand" value="brand2">Brand 2
        <span class="checkmark"></span>
    </label>
</div>

<button class="dropdown-btn">Color
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-checkbox-container">
    <label class="filter-container">
        <input type="checkbox" name="color" value="Red">Red
        <span class="checkmark"></span>
    </label>
    <label class="filter-container">
        <input type="checkbox" name="color" value="Green">Green
        <span class="checkmark"></span>
    </label>
    <label class="filter-container">
        <input type="checkbox" name="color" value="Black">Black
        <span class="checkmark"></span>
    </label>
    <label class="filter-container">
        <input type="checkbox" name="color" value="White">White
        <span class="checkmark"></span>
    </label>
    <label class="filter-container">
        <input type="checkbox" name="color" value="Yellow">Yellow
        <span class="checkmark"></span>
    </label>
</div>



  <button class="dropdown-btn">Gender
    <i class="fa fa-caret-down"></i>
  </button>
        <div class = "dropdown-checkbox-container">
  <label class="filter-container">
   <input type="checkbox" name="size" value="Male">Male
      <span class="checkmark"></span>
  </label>
        <label class="filter-container">
            <input type="checkbox" name="size" value="Female">Female
      <span class="checkmark"></span>
        </label>
            </div>


        <button class = "apply-filters-button" onclick="filter_checkbox()">Apply filters</button>


</div>

    <div class = "navigation" onClick = openNav()>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>

        <div class = "logged-in-user">
        {% if user.is_authenticated %}
            <a href ="{% url 'account' user.id %}">Welcome {{ user.last_name }} {{user.first_name }} !</a>
        {% else %}
            <a href = "{% url 'signup' %}">Welcome Guest!</a>
        {% endif%}</div>


</header>
<div id = "main">
  {% include 'shop/cards.html' %}
    </div>
</body>

<script src = {% static 'js/dropdownMenu.js' %}></script>

<script>
    // Get the input field
var input = document.getElementById("search-input");

// Execute a function when the user presses a key on the keyboard
input.addEventListener("keypress", function(event) {
  // If the user presses the "Enter" key on the keyboard
  if (event.key === "Enter") {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("search-button").click();
  }
});


</script>

<script>
    function filter_checkbox(){
        var checkboxes = document.getElementById("checkbox");
        var text = document.getElementById("text");
        var filters=[]
        for (let i=0;i<checkboxes.length;i++){
            if (checkboxes[i].checked === true){
                filters.push(checkboxes[i].value)
            }
        }
        console.log(filters)
    }
</script>

<script>
    function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>
</html>
