{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe Shop</title>

</head>
<body>

    <header class = "header">
        <span class = "name">Shoe Shop</span>

    <div class="search">
  <input type="search" autocomplete="off"/>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 1000 150">
    <path class="path" fill="none" d="M924.4 85.2c-19.5 19.5-50.8 19.7-70.3 0-19.3-19.4-19.3-51 .3-70.6 19.5-19.5 51-19.4 70.6 0 19.3 19.7 19.3 50.8-.5 70.6l35.4 35.3H0"></path>
  </svg>
</div>
    <nav>
        <div class = "navigation">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <a>Men Shoes</a>
        <a>Women Shoes</a>
        <a>Sales</a>
        <a>About</a>
        <a>TODO</a>
    </nav>

        <div class = "logged-in-user">
        {% if user.is_authenticated %}
            <a href = 'user_config/{{user.id}}'>Welcome {{ user.last_name }} {{user.first_name }} !</a>
        {% else %}
            <a href = "{% url 'signup' %}">Welcome Guest!</a>
        {% endif%}</div>


</header>

  {% include 'shop/cards.html' %}

</body>
</html>
