<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
    <table class="table">
            <thead>
                <tr>
                    <th>REQNO.</th>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Colors</th>
                    <th>Sizes</th>

                    <th>Send</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Product Name</td>
                    <td>Brand Name</td>
                    <td>5</td>
                    <td>Blue</td>
                    <td>Medium</td>
                    <td><button class="btn btn-primary">Click me</button></td>
                </tr>


            </tbody>

            <tfoot>

            </tfoot>
        </table>
</body>
</html>