{% load static %}
{% load custom_filter %}
{% load shop_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/shop_extended.css' %}">
    <link rel="stylesheet" href="{% static 'css/magic.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <button class = "cart-container">
        <img class = "cart-icon" src = "{% static 'images/cart.svg' %}" alt = "cart" type = "button" onClick=redirectToCart()>
    </button>

    <button class = "back-button" type="button" onClick=refreshPage()><</button>

  <div class = 'content-cards'>
         <div class="container">
       <div class="imgBx" style="content: '{{ product.name | brand_name }}' ;">
            <img class = "svg-icon" src="../static/images/{{ product.get_first_color}}_{{product.images}}" alt="{{ product.name }}">
        </div>
        <div class="details">
            <div class="content">
                <h2>{{ product.name }}<br>
                    <span>{{ product.name|category_name}} Collection</span>
                </h2>
                <p>
                    Featuring soft foam cushioning and lightweight, woven fabric in the upper, the Jordan Proto-Lyte is
                    made for all-day, bouncy comfort.
                    Lightweight Breathability: Lightweight woven fabric with real or synthetic leather provides
                    breathable support.
                    Cushioned Comfort: A full-length foam midsole delivers lightweight, plush cushioning.
                    Secure Traction: Exaggerated herringbone-pattern outsole offers traction on a variety of surfaces.
                </p>
                <p class="product-colors">Available Colors:
                    {% for color in product.name|colors_filter_display %}
                        {% if color == product.get_first_color %}
                            <span class="{{ color }} active" data-color-primary="{{ color }}" data-pic="../static/images/{{ color }}_{{ product.images }}" style = "background : {{ color }}"></span>
                        {% else %}
                        <span class="{{ color }}" data-color-primary="{{ color }}" data-pic="../static/images/{{ color }}_{{ product.images }}" style = "background : {{ color }}"></span>
                        {% endif %}
                    {% endfor %}
                </p>
                <h3>RON {{ product.price }}</h3>

                <button id = "cart-button" type = "button" class = "cart-button" onClick=addToCart({{ product.id }})>Add to cart</button>
            </div>
        </div>
    </div>
    </div>
    <script>

        $(".product-colors span").click(function() {
            $(".product-colors span").removeClass("active");
            $(this).addClass("active");
            $(".active").css("border-color", $(this).attr("data-color-sec"))
            $("body").css("background", $(this).attr("data-color-primary"));
            $(".content h2").css("color", $(this).attr("data-color-sec"));
            $(".content h3").css("color", $(this).attr("data-color-sec"));
            $(".container .imgBx").css("background", $(this).attr("data-color-sec"));
            $(".container .details button").css("background", $(this).attr("data-color-sec"));
            $(".imgBx img").attr('src', $(this).attr("data-pic"));
        });
    </script>

<script>
    function foolishAnimation(){
        const selector = document.querySelector('.imgBx')
        selector.classList.add('magictime', 'foolishIn')
    }
    setTimeout(foolishAnimation, 100);

    function refreshPage(){
        window.history.back();
    }

    function redirectToCart(){
        window.location.href = "{% url 'cart' %}";
    }

    function addToCart(){
        const itemData = {
            'user' : {{ user}},
            'item': {{product.id}},
            'quantity': 1,
        };

        fetch(`http://localhost:8000/product/${itemData['item']}/add_to_cart`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',

    },
    body: JSON.stringify(itemData),
  })
    .then((response) => response.json())
    .then((data) => {
      console.log('Success:', data);
    })
    .catch((error) => {
      console.error('Error:', error);
    });
    }
    
</script>
    <script src="{% static 'js/addToCart.js' %}"></script>

</body>
</html>