{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4 btn btn-success rounded-pill">Your Cart</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product.id|cart_quantity:cart}}</td>
                    <td>
                        {% price_total product.price product.id cart  as price %}
                        {{ price|currency }}
                    </td>
                </tr>

                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>{% total_cart_price products cart %}</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3">
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-success border rounded  col-lg-3 float-right">Check out</a>
        </div>
   </div>
</div>


<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            {% csrf_token %}
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" id="address" class="form-control" placeholder="" aria-describedby="helpId">
                  
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" id="phone"  class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                <div class = "form-payment">
                    <label for="">Payment Method : </label>
                    {% for payment_method in payment %}
                        <tr><input type = "checkbox" name = "payment"></tr>
                        <tr><label for="">{{ payment_method }}</label></tr>
                    {% endfor %}
                </div>
                <div class = "form-shipment">
                    <label for="">Shipment Method : </label>
                    {% for company,price in shipment %}
                        <tr><input type = "checkbox" name = "shipping" class = "shipment-checkbox"></tr>
                        <tr><label for="">{{ company }} {{ price }}</label></tr>
                    {% endfor %}
                </div>
                  <input type="button" id = "submit" class="btn float-right btn-outline-success col-lg-6" value="Check out" >
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>

    <script>
    document.getElementById("submit").addEventListener('click', placeOrder);

    function placeOrder() {
        var selected_shipping_company = $('.shipment-checkbox:checked').map(function () {
            return [$(this).next('label').text(), this.value];
        }).get();
        var selected_payment_method = $('.payment-checkbox:checked').map(function () {
            return [$(this).next('label').text(), this.value];
        }).get();

        var address = document.getElementById("address").value;
        var phone = document.getElementById("phone").value;

        if(address === ""){
            alert("Please enter address");
            return;
        }

        if(checkPhoneNumber(phone) === false){
            alert("Please enter valid phone number");
            return;
        }

        if (selected_shipping_company == null || selected_payment_method == null) {
            alert("Please select payment and shipping method");
            return;

        } else {
            const items = {
                'user': {{ user }},
                'shipping-company': selected_shipping_company,
                'payment': selected_payment_method,
                'address': address,
                'phone': phone,
            };

            fetch(`http://localhost:8000/place_order/${items['user']}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(items),
            }).then((response) => {
                    response.json();
            })
                .then((data) => {
                    console.log(data);
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.log(error);
                    console.error('Error:', error);
                });
        }
    }

    function checkPhoneNumber(phone){
        return phone.length === 10;
    }

    </script>


{% endblock %}