{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = {% static "css/home.css" %}>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoe Store</title>

</head>
<body>
<canvas></canvas>
  <div class="button-container">
    <button class="glow-on-hover" id = "guestButton", onclick="location.href='/store'">GUEST</button>
    <button class="glow-on-hover" id = "guestButton", onclick="location.href='/login'">LOG IN</button>
    <button class="glow-on-hover", onclick="location.href='/signup'">CREATE AN ACCOUNT</button>
<script src = {% static "js/stars.js" %}></script>
  </div>
</body>
</html>
